# Ignore dataset files
data/metadata.csv
*.csv
!data/sample_metadata.csv

# Ignore Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
